<div class="grid">
    <div class="grid-sizer"></div>
    <div class="grid-item hidden" ng-repeat="book in pint.books">
        <div class="thumbnail">
            <a href="" ng-click="pint.open(book, $event)">
                <img class="bookimg" ng-src="{{ book.cover }}" />
            </a>
            <div class="hidden-xs caption">
                <h4>{{ book.title }}</h4>
                <div ng-if="pint.state === 'stacks.all'">
                    <h4 ng-if="book._owner._id !== pint.currentUserId"><small>{{ book._owner.username }}'s copy</small></h4>
                    <h4 ng-if="book._owner._id === pint.currentUserId"><small>your copy</small></h4>
                </div>
            </div>            
        </div>
    </div>
    
</div>