<div>
    <div class="modal-header" ng-if="modalctrl.add">
        <button type="button" ng-if="modalctrl.stacked === 0" class="btn btn-primary" ng-click="modalctrl.add()"><i class="fa fa-plus"></i> Stack It</button>
        <button type="button" disabled ng-if="modalctrl.stacked === 1" class="btn btn-primary"><i class="fa fa-circle-o-notch fa-spin"></i> Stacking</button>
        <button type="button" disabled ng-if="modalctrl.stacked === 2" class="btn btn-primary"><i class="fa fa-check"></i> Stacked!</button>
    </div>
    <div class="modal-header" ng-if="modalctrl.delete">
        <button type="button" ng-if="modalctrl.stacked === 0" class="btn btn-danger" ng-click="modalctrl.delete()"><i class="fa fa-minus"></i> Remove</button>
        <button type="button" disabled ng-if="modalctrl.stacked === 1" class="btn btn-danger"><i class="fa fa-circle-o-notch fa-spin"></i> Removing</button>
        <button type="button" disabled ng-if="modalctrl.stacked === 2" class="btn btn-danger"><i class="fa fa-check"></i> Removed!</button>
    </div>
    <div class="modal-header" ng-if="modalctrl.requestTrade">
        <button type="button" class="btn btn-info" ng-click="modalctrl.requestTrade()"><i class="fa fa-share"></i> Request A Trade</button>
        <h4><small>{{ modalctrl.book._owner.username }}'s copy</small></h4>
    </div>
    <div class="modal-body">
        <img class="modal-img" ng-src="{{ modalctrl.book.cover }}" />           
        <h3>{{ modalctrl.book.title }}</h3>
        <h4 ng-if="modalctrl.book.authorlist">
            by {{ modalctrl.book.authorlist.join(", ") }}
        </h4>
        <a ng-href="http://openlibrary.org/{{ modalctrl.book.ol_key }}" target="_blank">view in OpenLibrary.org</a>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="modalctrl.close()">Close</button>
    </div>    
</div>
