<div ng-include="'components/navbar/navbar.html'"></div>

<header class="fixed" >
  <div class="fixed-bg single-book"></div>
  <div class="container main-content">
    <div class="row">
      <div class="col-md-12">
        <h1>Book Stacks</h1>
        <p>Join the leading community of book sharing</p>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-content">
        <h2>WHAT IS BOOKSTACKS</h2>
        <div class="spacebar"></div>
        <p>
          Book Stacks is a place to browse books offered by others in the community and offer a trade with books of your own.
          It is free to join, start trading now!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="parallax">
  <div class="parallax-bg library-one"></div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-content">
        <h2>STEPS</h2>
        <div class="spacebar"></div>
        <ul class="list-unstyled list-inline row">
          <li class="col-xs-12 col-sm-4">
            <div class="row">
              <div class="col-xs-12">
                <p class="text-center">Find a Book</p>
              </div>
                <span class="fa fa-book steps" aria-hidden="true"></span>
            </div>
          </li>
          <li class="col-xs-12 col-sm-4">
            <div class="row">
              <div class="col-xs-12">
                <p class="text-center">Request a Trade</p>
              </div>
                <span class="fa fa-weixin steps" aria-hidden="true"></span>
            </div>
          </li>
          <li class="col-xs-12 col-sm-4">
            <div class="row">
              <div class="col-xs-12">
                <p class="text-center">Enjoy the Read</p>
              </div>
                <span class="fa fa-smile-o steps" aria-hidden="true"></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="parallax">
  <div class="parallax-bg shelf-one"></div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-content">
        <h2>WHY YOU SHOULD READ</h2>
        <div class="spacebar"></div>
        <p>
          <i class="fa fa-quote-left fa-2x"></i> A reader lives a thousand lives before he dies, said Jojen. The man who never reads lives only one.<i class="fa fa-quote-right fa-2x"></i>
        </p>
        <p> ― George R.R. Martin, A Dance with Dragons</p>\
      </div>
    </div>
  </div>
</section>

<section class="parallax">
  <div class="parallax-bg shelf-two"></div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-content">
        <h2>MORE REASONS TO READ</h2>
        <div class="spacebar"></div>
        <p>
          <i class="fa fa-quote-left fa-2x"></i> Reading is important, because if you can read, you can learn anything about everything and everything about anything.<i class="fa fa-quote-right fa-2x"></i>
        </p>
        <p> ― Tomie dePaola</p>\
      </div>
    </div>
  </div>
</section>

<section class="parallax">
  <div class="parallax-bg shelf-three"></div>
</section>
<!--<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div>-->
<!--<div class="container">
  <div class="row main-search">
    <div class="col-lg-12">
    <form class="" ng-submit="ctrl.find()">
      <div class="input-group">
        <input type="search" class="form-control main-search-input" ng-model="ctrl.query" placeholder="Search..."/>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </span>
      </div>
    </form>
    </div>
  </div>
</div>-->

<footer class="footer">
  <div class="container">
      <p>Book Trader v0.0.0 |
        <a href="http://www.freecodecamp.com/reenan">@reenan</a> |
         <a href="https://github.com/naneer/basejump-book-trade-app/issues?state=open">Issues</a></p>
  </div>
</footer>
