<div>
        <div class="modal-header">
            <h3 class="modal-title">Choose a book to trade with</h3>
        </div>
        <div class="modal-body">
            <div class="media" ng-repeat="book in tradectrl.mybooks">
                <div class="media-left">
                    <img class="media-object" ng-src="{{ book.cover_small }}" />
                </div>
                <div class="media-body">
                    <h4>{{ book.title }}</h4>
                    <span ng-if="book.authorlist">by {{ book.authorlist.join(", ") }}</span>                    
                </div>
                <div class="media-right">
                    <button type="button" ng-disabled="tradectrl.disable" class="btn btn-info" ng-click="tradectrl.trade(book, $event)">
                        <i class="fa fa-exchange"></i> Send Request
                    </button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="tradectrl.cancel()">Cancel</button>
        </div>
</div>